# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/

#stuff
workspace/assets/
workspace/crash-reports/
workspace/libraries/
workspace/logs/
workspace/resourcepacks/
workspace/saves/
workspace/screenshots/
workspace/shaderpacks/
workspace/Sleek/keybinds.json
workspace/options.txt
workspace/optionsof.txt
workspace/usercache.json
assets/
crash-reports/
libraries/
logs/
resourcepacks/
saves/
screenshots/
shaderpacks/
Sleek/keybinds.json
options.txt
optionsof.txt
usercache.json
README.md
Client.rar
*.mca
*.txt
*.lock
*.dat
*.log
out/artifacts/MavenMCP_jar/MavenMCP.jar
out/artifacts/Sleek/Sleek.jar
workspace/Sleek/Protocol/ViaVersion/viaversion.yml
workspace/Sleek/Protocol/ViaRewind/config.yml
workspace/Sleek/Protocol/ViaBackwards/config.yml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

MavenMCP.iml
workspace/servers.dat
out/artifacts/test_jar/MavenMCP.jar
/out/
out/artifacts/test_jar/MavenMCP.jar
out/artifacts/test_jar/MavenMCP.jar
*.sleek
